@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Pixelify+Sans:wght@400..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.finish-content {
  --background: #F5DFE2;
}

.finalDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

#final-title {
  font-family: 'Chewy', cursive;
  font-weight: 400;
  font-size: 65px;
  color: #FEF6F0;
  letter-spacing: 6px;
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.192);
  margin-bottom: 40px;
}

.finalDiv .center-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 372px;
  height: 357px;
  border: 4px solid #D57080;
  border-radius: 25px;
  background-color: #F29CA9;
  margin-bottom: 24px;
  box-shadow: 2px 2px 4px rgba(30, 8, 22, 0.6);
  overflow: hidden;
}

.finalDiv .center-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#conclusion {
  font-family: 'Pixelify Sans', cursive;
  font-size: 24px;
  margin-bottom: 16px;
  color: #333;
}

#restart-btn {
  font-family: 'Sour Gummy', cursive;
  font-size: 28px;
  font-weight: 700;
  color: #FEF6F0;
  background-color: #F29CA9;
  border: 4px solid #D57080;
  border-radius: 10px;
  padding: 8px 24px;
  box-shadow: 2px 2px 4px rgba(30, 8, 16, 0.6);
  width: 200px;
  height: 60px;
  line-height: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
  outline: none;
}

#restart-btn:hover {
  transform: scale(1.1) perspective(1px);
}