@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Pixelify+Sans:wght@400..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.main-content {
  --background: #F5DFE2;
}

.main-content::part(scroll) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.title {
  font-family: 'Chewy', cursive;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 4px;
  color: #FEF6F0;
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}

.mascot-container {
  width: 372px;
  height: 357px;
  border: 4px solid #D57080;
  border-radius: 25px;
  background-color: #F29CA9;
  margin-bottom: 24px;
  box-shadow: 2px 2px 4px rgba(30, 8, 15, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.mascot-image {
  margin-top: 2px;
  width: 364px;
  height: 364px;
  object-fit: contain;
}

.start-button {
  --background: #F29CA9;
  --background-hover: #ea6b8f;
  --background-activated: #d85577;
  --border-radius: 10px;
  --box-shadow: 2px 2px 4px rgba(30, 8, 15, 0.6);
  
  font-family: 'Sour Gummy', cursive;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #FEF6F0;
  text-transform: none;
  
  width: 180px;
  height: 60px;
  margin: 0;
  
  transition: transform 0.3s ease;
}

.start-button::part(native) {
  border: 4px solid #D57080;
  padding: 0;
  line-height: 50px;
}

.start-button:hover {
  transform: scale(1.1);
}