@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Jersey+10&family=Pixelify+Sans:wght@400..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.timer-begins-content {
  --background: #D57080;
}

.timerBeginsDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 32px;
  font-family: 'Chewy', cursive;
  letter-spacing: 3px;
  color: white;
}

.timerBeginsDiv h1 {
  text-align: center;
  letter-spacing: 12px;
  font-size: 2.5rem;
  margin-bottom: 64px;
  font-weight: normal;
}

.timerBeginsDiv img {
  width: 64px;
  height: 64px;
  margin-top: 40px;
}

#task {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
  display: block;
}

#time-remaining {
  text-align: center;
  font-size: 8rem;
  letter-spacing: 4px;
  margin: 20px 0;
  display: block;
}