@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Jersey+10&family=Pixelify+Sans:wght@400..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.stop-work-content {
  --background: #D57080;
}

.stopWorkDiv {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 32px;
  color: white;
  font-family: 'Chewy', cursive;
  letter-spacing: 3px;
}

.stopWorkDiv h1 {
  text-align: center;
  letter-spacing: 12px;
  font-size: 56px;
  margin-bottom: 64px;
  color: white;
}

.stopWorkDiv #task {
  text-align: center;
  font-size: 24px;
  letter-spacing: 2px;
  color: white;
}

.stopWorkDiv #time-remaining {
  text-align: center;
  font-size: 196px;
  letter-spacing: 4px;
  color: white;
}

.stopWorkDiv #start-break-btn {
  font-family: 'Jersey 10', cursive;
  font-size: 40px;
  color: white;
  padding: 8px 40px;
  background-color: #D57080;
  border: 4px solid white;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #222;
  cursor: pointer;
  transition: transform 0.3s ease;
  outline: none;
}

.stopWorkDiv #start-break-btn:hover {
  transform: scale(1.1) perspective(1px);
}